/* Reguły CSS */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap");

* {
  box-sizing: border-box;
  /*poczytac jako homework */
}

/* Body */

body {
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  background-image: url("../assets/grass.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
}

img {
  max-width: 100%;
  height: auto;
}

/* Container */
#container {
  width: 80%;
  margin: 0 auto;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #ffffff;
}

/* Brand */
.brand a,
.brand img {
  display: block;
}

/* Menu */

.logo {
  width: 60px;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 0 5px;
  text-transform: lowercase;
}

nav ul li a {
  color: #333333;
  padding: 10px 15px;
  font-size: 18px;
  display: block;
  text-decoration: none;
}

nav ul li a:hover {
  border-bottom: 3px solid #3da249cd;
  margin-bottom: -3px;
}

/* Slider */

.slider {
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.slider img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Main */
main {
  display: flex;
}

/* Article */
article {
  width: 70%;
  padding: 30px;
  background: #f2f2f2;
}

/* Aside */
aside {
  width: 30%;
  padding: 20px;
  background-color: #3da249cd;
  color: #fff;
}

article img {
  border-radius: 8px;
}

@media only screen and (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
  }

  article {
    width: 100%;
    padding: 30px;
  }

  article img {
    padding-right: 0;
  }

  aside {
    width: 100%;
    padding: 20px;
    background-color: lightgray;
    border-left: none;
  }

  article img {
    padding-right: 30px;
  }
}

.widget {
  margin-bottom: 50px;
}

.widget img {
  float: left;
  /* padding: 0 10px 5px 0; -alternatywne rozw w przypadku braku borderu */
  margin: 0 10px 5px 0;
  border: 5px solid rgba(233, 200, 13, 0.937);
  border-radius: 8px;
  width: 50%; 
}

/* Links */

.links ul {
  list-style-type: square;
  padding-left: 18px;
  margin: 0;
}

.links ul li {
  margin-bottom: 10px;
}

.links ul li a {
  color: #ffffff;
}

/* Footer */

footer {
  background-color: lightgray;
  border-top: 1px solid black;
  text-align: center;
  padding: 25px 0;
}

footer p {
  margin: 0;
  text-shadow: 2px 2px darkgray;
}
footer a {
  margin: 5px;
}
.icon {
  color: black;
  font-size: 22px;
}

.social-icons {
  margin: 3px;
}
